/* You can add global styles to this file, and also import other style files */
@import 'styles/vendor';
@import 'styles/functions';
@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/breakpoints';
@import 'assets/css/fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600');


@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));


@import 'styles/reset';
@import 'styles/page';
@import 'styles/typography';


@import 'styles/form';
@import 'styles/box';
@import 'styles/icon';
@import 'styles/image';
@import 'styles/list';
@import 'styles/actions';
@import 'styles/icons';
@import 'styles/table';
@import 'styles/button';


